 
  body {
            font-family: Georgia, serif;
            margin: 0;
            padding: 0;
            background: #fafafa;
            color: #222;
            line-height: 1.6;
}
   h1 {
        text-align:center;
}
    h2 {
        text-align:center;
}
    p {  
     text-align:left;
     padding-left: 25%;
     padding-right: 25%;
 }      
.center {
     display: flex;
     margin: 10px auto;
     width: 25%;
     padding: 10px;
     width: 25%;
     height:auto;
}
.sourcetext {
     text-align:left;
     font-size: smaller;
     color:#4875d7;
     padding-left: 25%;
 
}

/*

          Description: Create a Collapsible (HTML & CSS)
          Author: W3Schools
          Date: December, 2025
          URL:https://www.w3schools.com/howto/howto_js_collapsible.asp
*/

.collapsible {
     background-color: #002148;
     border-radius: 5px;
     font-family: Georgia;
     display: grid;
     color: #e7ecef;
     cursor: pointer;
     padding: 18px;
     margin-bottom: 5px;
     width: 40%;
     border: none;
     text-align: center;
     outline: none;
     font-size: 15px;

}
.active, .collapsible:hover {
     color:#002148;
     background-color: #e7ecef;
}
.content {
     padding: 10px;
     display: none;
     overflow: hidden;
     background-color: #e7ecef;
     border-radius: 5px;
     border-color: #4470b7;
}
div.content-card {
    margin-top: 25px;
}
